{% extends "marketplace_app/base_account.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style type="text/css">

  .wrap_content {
    margin-top: 70px;
    margin-left: 210px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 80px); /* Assuming 80px is the total of your top margin and any header/footer height */
  }

  ul {
    list-style:none;
    list-style-position: outside;
  }

  body {
    margin: 0px;
    /* background-color: #F0EDCC; */
  }

  .btn-enhanced {
    padding: 10px 20px;
    border-radius: 25px;
    width: 150px;  /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    margin-top: 10px;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* For spacing between buttons */
  }

</style>

<div class="wrap_content"> 
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form_group">
      <legend class="border-bottom mb-4">Account Info</legend>
      {{u_form|crispy}}
      {{ud_form|crispy}}
    </fieldset>
    <div class="buttons-container">
      <button class="btn btn-primary btn-enhanced" type="submit">Update</button>
    </div>
  </form>
  <div class="buttons-container">
    <form method="POST" action="{% url 'account_delete' %}" onsubmit="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
      {% csrf_token %}
      <button class="btn btn-danger btn-enhanced" type="submit">Delete</button>
    </form>
  </div>
</div>
{% endblock %}