{% extends "marketplace_app/base.html" %}

{% block title %}
Sign Up
{% endblock title %}

{% block content %}

<div class="top-spacing">
  <a href="index">Return Home</a>
</div>

<div class="login-form">
    <form>
  
      <div class="logo-login">
        <a href="index" class="logo">LOGO</a>
      </div>

      <br>
      <h2>Forgot Password?</h2>
      <br>

      <p class="login-description">Enter the email address associated with your account and we'll send you a link to reset your password.</p>

      <div class="form"> 
        <p class="form-title">Enter your Email</p>
        <input type="email" class="form-control" placeholder="example@email.com">
      </div>
      
      <div class="button-space">
        <button class="login-button" type="submit">Send</button>
      </div>

      <br>
      <hr>
      <br>
      
      <div class="bottom-text">
        <a>Don't have an account? </a><a href="signup">Signup</a>
      </div>
      
    </form>

  </div>

  <div class="whitespace">
    <br>
  </div>

{% endblock content %}