{% extends 'marketplace_app/base.html' %}

{% block title %}
Rate Seller
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Rate the Seller</h2>
            <h4>John Doe</h4>
            <div class="seller-details">
                <div class="seller-info">
                    <div class="seller-rating">Seller Current Rating: 4.5 stars</div>
                    <div class="seller-location">Location: New South Wales, AU</div>
                </div>
                <div class="car-image">
                    <img class="fit-in-box" src="https://images.cars.com/in/v2/stock_photos/7f212472-c429-4681-882b-29e52f4d52b5/884b28bd-d67f-4c90-a7e5-a066090db8f7.png?w=1000" alt="Purchased Car">
                </div>
            </div>
            <form action="{% url 'rating_seller' %}" method="post">
                {% csrf_token %}
                <div class="rating-container mt-5">
                    <span class="star" data-rating="1" name="rating">&#9733;</span>
                    <span class="star" data-rating="2" name="rating">&#9733;</span>
                    <span class="star" data-rating="3" name="rating">&#9733;</span>
                    <span class="star" data-rating="4" name="rating">&#9733;</span>
                    <span class="star" data-rating="5" name="rating">&#9733;</span>
                </div>
                <div class="form-group mt-5">
                    <label for="comment">Your Comments:</label>
                    <textarea class="form-control text-left" id="comment" name="comments" rows="3"></textarea>
                </div>
                <div class="d-flex justify-content-end mt-5">
                    <button type="submit" class="btn btn-custom my-2 my-sm-0">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $('.star').on('click', function() {
        const rating = $(this).data('rating');
        $('.star').removeClass('selected-star');
        $(this).addClass('selected-star');
        $(this).prevAll().addClass('selected-star');

        $('[name="rating"]').val(rating);

        $('<input>').attr({
            type: 'hidden',
            name: 'rating',
            value: rating
        }).appendTo('form');
    });
</script>
{% endblock javascript %}
