{% extends "marketplace_app/base.html" %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}
<div class="login-form">
    <div class="logo-login">
        <a href="index" class="logo">LOGO</a>
      </div>
    
    <br>
    <h2>Resetting Password</h2>
    <br>
    <form method="POST">
      {% csrf_token %}
      {% for field in reset_form %}
        <div class="form-group">
          <p class="form-title">{{ field.label_tag }}</p>
          {{ field }}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}

      {% if request.POST %}
        {% if reset_form.non_field_errors %}
          <div class="container">
              {% for error in reset_form.non_field_errors %}
                  <p style="color: red">{{ error }}</p>
              {% endfor %}
          </div>
        {% endif %}
      {% endif %}
      
      <div class="button-space">
        <button class="login-button" type="submit">Reset Password</button>
      </div>

      <br>
      <hr>
      <br>
      
    </form>

  </div>

  <div class="whitespace">
    <br>
  </div>

{% endblock content %}