{% extends 'marketplace_app/base.html' %}

{% block content %}
<div class="car-form">
    <h1 class="h1 pt-3 ms-4">Create a New Transmission Type</h1>

    <br>
    <p>Please register the transmission type of your vehicle.</p>

    <form method="post" class="pt-2 ms-4">
        {% csrf_token %}

        {{ form.as_div }}

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

    {% if form.errors %}
    <div class="alert alert-danger my-5">
        {{ form.errors.title.as_text}}
    </div>
    {% endif %}
</div>

{% endblock content %}