/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}


hr {
    top:20px;
    border:none;
    height:2px;
    background:black;
}

/* Logo */

.logo {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #2D636D;
}

/* Navigation Bar */

img.img-no-resize {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.marketing-header {
    text-align: center;
    padding: 20px 100px;
}

/* custom padding for Carousel search */
.search-bar-padding {
    transform: translate(-0%, -100%);
    padding: 50px 0; /* Adjust padding as needed */
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-adjust {
    width: 20%;
    margin-right: 10px;
}

/* custom button for homepage button */
.btn-custom {
    --bs-btn-color: #fff;
    --bs-btn-bg: #555;
    --bs-btn-border-color: #555;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #353535;
    --bs-btn-hover-border-color: #353535;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #555;
    --bs-btn-active-border-color: #555;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #555;
    --bs-btn-disabled-border-color: #555;
}

/* for the 'Trending' section of homepage */
.shape-img {
    border: 3px solid #555;
    border-radius: 5px;
}

.trend-text {
    margin: auto;
    padding: 15px 20px;
    word-wrap: break-word;
}

.mini-marketing {
    padding: 15px;
}

.carousel-buttons {
    text-align: center;
    margin-top: 10px;
  }
  
#prevBtn,
#nextBtn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#prevBtn {
    margin-right: 10px;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: #0056b3;
}
  

/* button for Picked For You section of home page */
.container .btn-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-0%, -250%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container .btn-overlay:hover {
    background-color: #353535;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    background: lightsalmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink a {
    font-size: 16px;
    letter-spacing: 1px;
    color: #2D636D;
    font-weight: 500;
    text-decoration: none;
    padding: 15px 20px;
}

.navlink a:hover {
    background-color: aliceblue;
}

/* Footer */

.footer {
    display: block;
    text-align: left;
    padding: 20px 60px 100px 60px;
    background-color: lightsalmon;
    color: #2D636D;
    margin-top: auto;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This sets the container to full viewport height */
}

.confirmation-box {
    text-align: center;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto; /* Center the box horizontally */
    width: 60%; /* Adjust the width as needed */
}


/* Login */

.top-spacing {
    display: flex;
    top:0;
    left:0;
}

.logo-login {
    padding-top: 50px;
}
 
.login-form {
    display:block;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width:400px;
    /* height:600px; */
    background-color: white;
    padding:0px 30px;
    border-radius: 30px;
}

.car-form {
    display:block;
    text-align: center;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width:800px;
    background-color: white;
    padding:0px 30px;
    padding-bottom: 100px;
}

.form {
    padding-bottom: 10px;
}

.form-title {
    padding-top: 5px;
    margin-top: 50px;
    margin-bottom: 0rem;
}

.form-group {
    padding: 5px;
}

.form-control {
    padding:5px;
    border-radius: 10px;
    text-align: center;
}

.button-space {
    padding: 10px;
}

.login-button {
    padding:2px 10px;
    border-radius: 5px;
}

.login-description {
    padding:10px 10px 20px 10px;
}

.bottom-text {
    padding-bottom: 50px;
}

.whitespace {
    padding:50px;
}

.top-whitespace {
    margin-top: 100px;
}

/* listings */
.car-listing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.car-listing {
    width: 600px;
    margin: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.listing-photo {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.listing-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.listing-details {
    padding: 30px;
}

.listing-details h2 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.listing-details p {
    margin: 10px 0;
    color: #666;
}

.listing-details strong {
    font-weight: bold;
    color: #333;
}

.listing-details a:hover {
    text-decoration: underline;
}

.custom-pagination .page-link {
    background-color: #fff;
    color: #000;
    border-color: #d4d4d4;
}

.custom-pagination .page-item.disabled .page-link {
    background-color: #353535;
    color: #fff;
    border-color: #353535;
}

.custom-pagination .page-item.active .page-link {
    background-color: #a8a7a7;
    color: #fff;
    border-color: #a8a7a7;
}

/* car details */
.car-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.car-info p {
    margin: 5px 0;
    color: #666;
}

.car-details {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.car-info p strong {
    font-weight: bold;
    color: #333;
}

.price {
    font-size: 24px;
    margin: 10px 0;
}

.status {
    margin: 10px 0;
}


/* custom colour for navbar */
.custom-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements */
    background-color: lightsalmon; /* Customize the background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for separation */
}
 
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #2D636D;
}

/* footer styles */
.nav-footer {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* Ratings */
.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    font-size: 45px;
    cursor: pointer;
    margin: 0 10px;
}

.selected-star {
    color: #FFD700;
}

textarea {
    text-align: left;
}

.seller-details {
    display: flex; /* Use flexbox to create a horizontal layout */
    justify-content: space-between;
    align-items: center; /* Vertically center align the seller details and car image */
}

.fit-in-box {
    max-width: 150px;
    height: auto;
    margin-left: 10px;
}

.rating-description {
    text-align: center;
}