{% extends "base.html" %}

{% url "forgot-password.html" %}

{% block title %}
Sign Up
{% endblock title %}

{% block content %}

<div class="login-form">
    <form>
  
      <div class="logo-login">
        <a href="index" class="logo">LOGO</a>
      </div>

      <br>
      <h2>Forgot Password?</h2>
      <br>

      <p>Enter the email address associated with your account and we'll send you a link to reset your password.</p>

      <div class="form"> 
        <p>Enter your Email</p>
        <input type="email" class="form-control" id="floatingInput" placeholder="Email address">
      </div>
  
      <button class="login-button" type="submit">Send</button>

      <div class="bottom-text">
        <a>Don't have an account? </a><a href="signup">Signup</a>
      </div>
      
    </form>
  </div>

{% endblock content %}