{% extends "base.html" %}

{% block title %}
Homepage
{% endblock title %}

{% block content %}
<div class="nav">
  <a href="index" class="logo">LOGO</a>
  <nav class="navlink">
    <a href="#">Buy</a>
    <a href="#">Sell</a>
    <a href="login">Login/Sign Up</a>
  </nav>
</div>

<!-- <main>
  <h1>Welcome to My Website</h1>  
</main>
<script src="index.js"></script> -->

<div class="footer">
    <p>CONTACT US</p>
    <br>
    <p><a>phone: 02 XXXX XXXX</a></p>
    <p><a>email: </a><a href="example@email.com">example@email.com</a></p>
</div>
{% endblock content %}