{% extends "base.html" %}

{% url "login.html" %}

{% block title %}
Login
{% endblock title %}

{% block content %}


<div class="login-form">
  <form>

    <div class="logo-login">
      <a href="index" class="logo">LOGO</a>
    </div>

    <div class="whitespace">
      <br>
      <h2>Login to your Account</h2>
      <br>
    </div>

    <div class="form">
      <p>Enter your Email</p>
      <input type="email" class="form-control" id="floatingInput" placeholder="Email address">
    </div>

    <div class="whitespace">
      <br>
    </div>

    <div class="form">
      <p>Enter your Password</p>
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <br>
      <a href="forgotpassword">Forgot Password</a>
    </div>

    <div class="whitespace">
      <br>
    </div>

    <button class="signin-button" type="submit">Login</button>
    
    <div class="whitespace">
      <br>
    </div>

    <div>
      <a>New to LOGO? </a><a href="signup">Sign Up</a>
    </div>
    
  </form>
</div>

{% endblock content %}