{% extends "base.html" %}

{% block title %}
Login
{% endblock title %}

{% block content %}

<div class="top-spacing">
  <a href="index">Return Home</a>
</div>

<div class="login-form">
  <form>

    <div class="logo-login">
      <a href="index" class="logo">LOGO</a>
    </div>

    <br>
    <h2>Login to Your Account</h2>
    <br>

    <div class="form">
      <p class="form-title">Enter your Email</p>
      <input type="email" class="form-control" placeholder="example@email.com">
    </div>

    <div class="form">
      <p class="form-title">Enter your Password</p>
      <input type="password" class="form-control" placeholder="Password">
    </div>

    <div class="button-space">
      <button class="login-button" type="submit">Login</button>
    </div>

    <br>
    <hr>
    <br>

    <div class="bottom-text">
      <a>Don't have an account? </a><a href="signup">Sign Up</a>
      <br>
      <br>
      <a href="forgotpassword">Forgot Password</a>
    </div>
    
  </form>
</div>

{% endblock content %}