{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock title %}

{% block content %}

<div class="top-spacing">
  <a href="index">Return Home</a>
</div>

<div class="login-form">
    <div class="logo-login">
      <a href="index" class="logo">LOGO</a>
    </div>

    <br>
    <h2>Create an Account</h2>
    <br>
    <form method="POST">
      {% csrf_token %}
      {% for field in signup_form %}
        <div class="form-group">
          <p class="form-title">{{ field.label_tag }}</p>
          {{ field }}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
      
      <div class="button-space">
        <button class="login-button" type="submit">Sign Up</button>
      </div>

      <br>
      <hr>
      <br>
      <div class="bottom-text">
        <a>Already have an account? </a><a href="login">Login</a>
      </div>
      
    </form>
  </div>

  <div class="whitespace">
    <br>
  </div>

{% endblock content %}