{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock title %}

{% block content %}

<div class="login-form">
    <form>
  
      <div class="logo-login">
        <a href="index" class="logo">LOGO</a>
      </div>
  
      <br>
      <h2>Create an Account</h2>
      <br>
  
      <div class="form">
        <p>Enter your Email Address</p>
        <input type="email" class="form-control" id="floatingInput" placeholder="example@email.com">
      </div>
  
      <div class="form">
        <p>Enter a Password</p>
        <input type="password" placeholder="Password">
      </div>

      <div class="form">
        <p>Confirm your Password</p>
        <input type="password" placeholder="Confirm Password">
      </div>

      <div class="form">
        <p>Enter your Full Name</p>
        <input type="text" placeholder="John Citizen">
      </div>

      <div class="form">
        <p>Enter your Phone Number</p>
        <input type="number" placeholder="0444 444 444">
      </div>
      
      <div class="button">
        <button class="login-button" type="submit">Sign Up</button>
      </div>

      <div class="bottom-text">
        <a>Already have an account? </a><a href="login">Login</a>
      </div>
      
    </form>
  </div>

{% endblock content %}